* {
  margin: 0;
  padding: 0;
}

/* medium screens */
@media screen and (max-device-width: 800px) {
  .button-green, .button-red {
    margin: 0;
  }

  * {
    overflow-x: auto;
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: 20pt;
  }
  p {
    font-size: 11pt;
  }

}

.button-green {
  background: rgb(28, 184, 65); /* this is a green */
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
}

.button-red {
  background: rgb(184, 65, 28); /* this is a green */
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
}

.button-green:hover {
  background: rgb(28, 200, 65); /* this is a green */
}

.button-green:active {
  background: rgb(28, 160, 65); /* this is a green */
}

.button-red:hover {
  background: rgb(200, 65, 28); /* this is a green */
}

.button-red:active {
  background: rgb(160, 65, 28); /* this is a green */
}

.content {
  font-size: 24pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.counter-container {
  max-width: 400px;
  width: 100%;
}

.counter-board {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.counter-container p, .counter-container .center-container {
  display: inline-block;
}

.center-container {

}

.counter-container #counter {
}

#author {
  font-size: 14pt;
  color: #a5a5a5;
}

#author a {
    color: #a5a5a5;
}

.btn-increment h1 i {
  overflow-x: hidden;
}
